################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.config
/.vs/Curriculum-Vitae/FileContentIndex/190c1fb9-9f8c-415e-a2fd-3811aa1bfa26.vsidx
/.vs/Curriculum-Vitae/FileContentIndex/9ce0ef69-ef0d-4698-aaa1-c43c2c20c463.vsidx
/.vs
